.config-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 5vw; 
  padding: 6vh 2vw; 
  max-width: 90vw; 
  margin: 0 auto;
  text-align: left;
}

.config-controls {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

.config-preview {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.control-group {
  margin-bottom: 1.5vh; 
}

.control-input {
  display: block;
  width: 100%;
  padding: 1.2vh 0.8vw; 
  margin-top: 1.2vh;
  border-radius: 0.5rem;
  border: 0.1rem solid #ddd;
  font-size: 1rem;
  background-color: #fcfcfc;
}

.btn-jugar {
  margin-top: 4vh; 
  padding: 2vh 1.2vw;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  background-color: #2c3e50;
  color: white;
  border: none;
  border-radius: 0.6rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-jugar:hover {
  background-color: #34495e;
  transform: translateY(-0.2rem);
  box-shadow: 0 0.5rem 1.5rem rgba(0,0,0,0.1);
}

.preview-board {
  width: 100%;
  max-width: 45vmin;
  height: 45vmin;
  background-color: #fdfdfd;
  border: 0.2rem dashed #e0e0e0;
  margin-bottom: 4vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
}

.preview-bot, .preview-human {
  width: 100%;
  max-width: 45vmin;
  padding: 3vh;
  border-radius: 1rem;
  box-shadow: 0 0.4rem 0.6rem rgba(0,0,0,0.05);
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1.5vh;
}