.nav-bar {
  position: fixed;/*Siempre visible*/
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: left;
  background-color: #55a667;
  padding: 0.5rem;
  gap: 1rem;
}

.content {
  margin-top: 3rem; /* para no tapar nav bar*/
}

.nav-item {
  background: #5f6d2a;
  color: #fff;
}

.nav-item:hover {
  background-color: #fc7777;
}

.nav-item.active {
  background-color: #007bff;
  color: #fff;
}